.channelAnalytics {
    display: flex;

    .table {
        display: flex;
        flex-direction: column;

        > span {
            text-align: center;
            width: 100%;
        }

        .analytics {
            padding: 0 0px 30 0;
            margin: 20px;
            border: 1px solid var(--grayDarkBackground);
            border-radius: 28px;
            height: fit-content;
            width: fit-content;
            overflow: hidden;

            .tabHeader {
                display: flex;
                margin-bottom: 42px;
                width: 100%; /* Занимает всю ширину */

                &_item {
                    flex: 1; /* Все кнопки занимают равное пространство */
                    border: none;
                    background-color: var(--grayDarkBackground);
                    padding: 12px 20px; /* Внутренние отступы */
                    text-align: center;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    font-size: 16px;
                    font-weight: 500;

                    &_active {
                        background-color: var(--background);
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }
}