.overlay {
    position: fixed;  /* fixed вместо absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--whiteText);
    opacity: 0.5;
    z-index: 997;
    display: none;
    cursor: default;

    &__visible {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.modalContainer {
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: fixed; /* или absolute, но fixed лучше для модалок */
    background-color: var(--modalBackgroundColor);
    box-shadow: 0px 0px 5px var(--gray);
    
    /* Добавьте это для центрирования */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Опционально: ограничение ширины и max-height */
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    
    /* Опционально: padding для контента */
    padding: 20px;
    border-radius: 8px;

    &__visible {
        visibility: visible;
    }

    &__hidden {
        visibility: hidden;
    }
}

.closeBtn {
    cursor: pointer;
    height: fit-content;
    text-align: end;
}

.header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}