.overlay {
    position: fixed;  /* fixed вместо absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--whiteText);
    opacity: 0.5;
    z-index: 997;
    display: none;
    cursor: default;

    &__visible {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.modalContainer {
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    background-color: var(--modalBackgroundColor);
    box-shadow: 0px 0px 5px var(--gray);

    &__visible {
        visibility: visible;
    }

    &__hidden {
        visibility: hidden;
    }
}

.closeBtn {
    cursor: pointer;
    height: fit-content;
    text-align: end;
    padding: 12px;
}