.sidebarContainer {
    position: relative;
    z-index: 99;
    background-color: var(--background);
    // top: 40px;
    left: 0;
    width: 240px;

        &Hidden {
            position: absolute;
            top: 10px;
            width: 70px;
        }
}

.sidebarOverlay {
    position: absolute;
    pointer-events: none;
    z-index: 98;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
}

.sidebarBtns {
    display: flex;
    // margin-top: 16px;
    width: 100%;
    justify-content: space-around;
}

.sidebarBtn {
    cursor: pointer;

    &__close {
        cursor: pointer;
        margin-top: 16px;
        width: 100%;
        text-align: center;
    }
}

.channelAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.btns {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    text-align: center;
    margin-top: 40px;
    


    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 20px 8px;
        border-radius: 8px;

            &:hover {
                background-color: var(--grayBackground);
            }

            &__open {
            display: flex;
            padding: 10px 16px;
            border-radius: 16px;
            flex-direction: row;
            gap: 16px;
            width: 100%;
            margin: 8px;
            align-items: center;
            margin: auto;
            cursor: pointer;

            &:hover {
                background-color: var(--grayBackground);
            }

            &_active {
                display: flex;
                gap: 24px;
                width: 100%;
                border-radius: 16px;
                padding: 10px 16px;
                align-items: center;
                background-color: var(--grayBackground);
            }
        }
    }

    &__open {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        -webkit-scrollbar-track: red;
        scrollbar-width: thin;
        height: 100vh;
        padding: 0px 10px;
        scrollbar-color: var(--background);
    }
}

.divider {
    padding-bottom: 12px;
    padding-top: 8px;
    border-bottom: 1px solid var(--grayDarkBackground);
}

.navigator {
    pointer-events: none !important;
    user-select: none !important;
}