.modal {
    width: 70%;
    max-width: 1200px;
    height: 80%;

    .input {
        box-sizing: border-box;
        display: block;
        // visibility: hidden;
        flex: 1;
        appearance: none; 
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;
        align-items: center;
        justify-content: center;

        .inputBtn {
            background-color: var(--foreground);
            color: var(--whiteText);
            padding: 10 20;
            border-radius: 28px;
            border: none;
            margin-top: 20px;
        }
    }
}