.desktopSidebar {
    display: block;
}   
    
.tabletSidebar {
    display: none;
}

@media (max-width: 1024px) {

    .desktopSidebar {
        display: none;
    }   
    
    .tabletSidebar {
        display: block;
    }   
}

