.tag {
    padding: 8 12;
    background-color: var(--grayBackground);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;

    &_active {
        background-color: var(--blackText);
    }
}