.mainPage {
    &__container {
        max-width: 1720px;
        margin: auto;
    }
}

.videoGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));

    @media (max-width: 1280px) {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    // @media (min-width: 2000px) {
    //     grid-template-columns: repeat(4, 1fr);
    // }
}


.shortsTag {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 50 0 20 0;
}

.videoGridHorts {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));

    @media (max-width: 1280px) {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}