.body {
    position: relative;
}

.accordion_btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.accordion_btn_wrap {
    position: absolute;
    background: var(--background);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 100px;
    border-radius: 28px;
    border: 1px solid gray;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.accordion_content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    padding-bottom: 40px;
    border-bottom: 1px solid gray;

    &.open {
        max-height: fit-content;
        opacity: 1;
    }
}