@use '../../../mixins.scss' as *;

.page {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 12px;
  @include scrollPage;
}

.description {
  margin-top: 10px;
}

.comments {
  margin-top: 20px;
}
