.headerContainer {
    position: fixed;
    top: 5px;
    left: 0;
    padding: 0px 16px 0px 24px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        gap: 16px;
    }
}

.micro {
    position: relative;
    cursor: pointer;

    &:hover {
        .voiceSearchText {
            display: block;
        }
    }
}

.searcher {
    flex: 1 1 auto;
    width: 100%;
    max-width: 800px;
    min-width: 200px;
    width: 500px;
}

