.mainPage__container {
  max-width: 1800px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 16px;
  }
}

.myChannel {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  
  @media (prefers-color-scheme: dark) {
    border-bottom-color: rgba(255, 255, 255, 0.1);
  }
  
  &_avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    
    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }
  
  &_info {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: fit-content;
    gap: 4px;

    &_username {
      color: var(--gray);
    }
  }
}