:root {

  --gray: gray;
  --lightGray: rgb(201, 201, 201);


  // background
  --background: #ffffff;
  --foreground: #171717;
  --grayBackground: #f8f8f8;
  --grayDarkBackground: #dbdbdb;
  --lightBlackBackground: rgb(102, 102, 102);
  --grayHoverBackground: #eae8e8;
  --navigatorBackground: rgba(0, 0, 0, 0.05);

  //text
  --blackText: #000000;
  --whiteText: #ffffff;
  --descriptionText: #606060;
  --placeholderText: #c6c6c6;


  //border
  --grayBorder: #c6c6c6;
  --blueBorder: #1c62b9;

  --shadow: rgba(0, 0, 0, .3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --blackText: #ffffff;
    --whiteText: #000000;
    --textDescription: #606060;
  }
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  line-height: 1;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraBold.ttf') format('TrueType');
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('TrueType');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-SemiBold.ttf') format('TrueType');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('TrueType');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('TrueType');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('TrueType');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraLight.ttf') format('TrueType');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.ttf') format('TrueType');
  font-weight: 100;
}