:root {

  // background
  --background: #ffffff;
  --foreground: #171717;
  --grayBackground: #f8f8f8;

  //text
  --blackText: #000000;
  --whiteText: #ffffff;
  --descriptionText: #606060;
  --placeholderText: #c6c6c6;


  //border
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --blackText: #ffffff;
    --whiteText: #000000;
    --textDescription: #606060;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
