:root {
  --gray: gray;
  --lightGray: rgb(201, 201, 201);
  --backgroungGray: #ffffff;

  // background
  --background: #ffffff;
  --background2: #ffffff;
  --foreground: #030303;
  --foregroundRGBA: rgb(0, 0, 0, 0.5);
  --foregroundRGB: rgba(0, 0, 0, 0.1);
  --foregroundRGBHover: rgba(0, 0, 0, 0.15);
  --grayBackground: #f2f2f2;
  --grayDarkBackground: #e5e5e5;
  --lightBlackBackground: #606060;
  --grayHoverBackground: #e5e5e5;
  --navigatorBackground: rgba(0, 0, 0, 0.05);

  //text
  --blackText: #030303;
  --blackTextRGBA: 0, 0, 0;
  --whiteText: #ffffff;
  --descriptionText: #606060;
  --placeholderText: #909090;
  --modalBackgroundColor: #ffffff;

  //border
  --grayBorder: #e5e5e5;
  --blueBorder: #3ea6ff;

  --shadow: rgba(0, 0, 0, 0.1);
  
  // dimensions
  --header-height: 60px;
  --sidebar-width-open: 240px;
  --sidebar-width-closed: 80px;
}

[data-theme="dark"] {
  --gray: #909090;
  --lightGray: #717171;
  --backgroungGray: #212121;

  // background
  --background: #0f0f0f;
  --background2: #747474;
  --foreground: #f1f1f1;
  --foregroundRGB: rgba(255, 255, 255, 0.2);
  --foregroundRGBHover: rgba(255, 255, 255, 0.3);
  --grayBackground: #272727;
  --grayDarkBackground: #3f3f3f;
  --lightBlackBackground: #717171;
  --grayHoverBackground: #3f3f3f;
  --navigatorBackground: rgba(255, 255, 255, 0.1);

  //text
  --blackText: #ffffff;
  --whiteText: #000000;
  --blackTextRGBA: 255, 255, 255;
  --descriptionText: #aaaaaa;
  --placeholderText: #717171;
  --modalBackgroundColor: #808080;

  //border
  --grayBorder: #3f3f3f;
  --blueBorder: #3ea6ff;

  --shadow: rgba(0, 0, 0, 0.5);
}


html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// Font faces остаются без изменений
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraBold.ttf') format('TrueType');
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf') format('TrueType');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-SemiBold.ttf') format('TrueType');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('TrueType');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('TrueType');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf') format('TrueType');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ExtraLight.ttf') format('TrueType');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.ttf') format('TrueType');
  font-weight: 100;
}