.mainPage {
    &__container {
        max-width: 1720px;
        margin: auto;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channels {
    background-color: var(--grayDarkBackground);
    border: none;
    padding: 10 16;
    border-radius: 28px;
    cursor: pointer;

    &:hover {
        background-color: var(--gray);
    }
}

.videoGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    margin-top: 30px;

    @media (max-width: 1280px) {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    // @media (min-width: 2000px) {
    //     grid-template-columns: repeat(4, 1fr);
    // }
}

.shorts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &Tag {
        display: flex;
        align-items: center;
    }

    &Link {
        display: flex;
        align-items: center;
    }
}

.videoGridHorts {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));

    @media (max-width: 1280px) {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}