.shortContainer {
    height: 100%;
    // aspect-ratio: 10 / 19;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;

    &:hover {
        background-color: var(--custom-color);
    }
}

.contentWrapper {
    position: relative;
}

.img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1.5;
    object-fit: fill;
    border-radius: 12px;
}

.header {
    display: flex;
    position: relative;
}

.shortVideoName {
    width: 100%;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.ellipsis {
    height: 32px;
    padding: 4px 4px;
    margin: -6px -4px;

    &:hover {
        background-color: var(--foregroundRGB);
        border-radius: 50px;
    }
}

.modalPosition {
    position: absolute;
    width: 400px;
    top: 30px;
    right: 0px;
}

.videoPreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1.5;
    object-fit: fill;
    border-radius: 12px;
}