.playlistsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    padding: 24px 0;
    
    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    
    @media (max-width: 480px) {
        grid-template-columns: 1fr;
        padding: 16px 0;
    }
}

.order {
    display: flex;
    align-items: center;
    justify-self: end;
    cursor: pointer;
    background: none;
    border: none;
}

.customPopover {
    background-color: var(--background) !important;
    padding: 10 0;
    width: fit-content;

    &_body {
        display: flex;
        flex-direction: column;

        &_item {
            padding: 20 20;
            cursor: pointer;
            border-radius: 8px;
            border: none;
            background-color: var(--background);

            &:hover {
                background-color: var(--grayBackground);
            }

            &_text {
                text-wrap: nowrap;
            }
            
            &_active {
                padding: 20 20;
                cursor: pointer;
                border-radius: 8px;
                border: none;
                background-color: var(--lightGray);
            }
        }
    }
}