@use '../../../../mixins.scss' as *;

.mainPage__container {
    width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include scrollPage;
}

.channelList {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}