// @use '../../../../shared/consts/variables.scss' as var;

.dropdownContainer {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--modalBackgroundColor);
    box-shadow: 0px 0px 5px gray;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
}

.dropdown {
    transition:
        opacity 0.5s ease,
        transform 0.5s ease,
        visibility 0.5s ease;
}

.dropdownElement {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    transition:
        background-color 0.2s ease,
        transform 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--gray);
    }

    &_text {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }
}

.unvisibleDropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
}

.visibleDropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
