.mainPage__container {
    width: 90%;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100vh !important;
}

.slide {
    display: flex;
    justify-content: center;
    width: 100% !important;
    height: 100vh !important;
}

.playerWrapper {
    width: auto;
    height: 85vh;
    aspect-ratio: 9 / 16;
    border-radius: 16px;
    
    @media (max-width: 768px) {
        width: 100%;
        height: auto;
        max-width: none;
        border-radius: 0;
    }
}

.navButtons {
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.navButton {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(62, 62, 62, 0.6);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(96, 96, 96, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    
    &:hover {
        background: rgba(186, 181, 181, 0.4);
        transform: scale(1.05);
    }
    
    &:active {
        transform: scale(0.95);
    }
}