.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.shortVideoWrapper {
    position: relative;
}

.swiper {
    width: 100%;
    height: auto; // или конкретная высота, например 360px
    overflow: hidden;
    display: flex;

    :global(.swiper-wrapper) {
        display: flex !important;
        flex-direction: row !important;
    }
}

.videoCardWrapper {
    height: 94px;
}

.slide {
    width: auto !important; // важно для Swiper
    height: auto;
}

.shortVideoCardWrapper {
    width: 180px;
    height: 360px;
    overflow: hidden;
    flex-shrink: 0;
}

.navButtons {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    pointer-events: none; // Чтобы кнопки не перекрывали контент, но сами кнопки оставались кликабельными
}

.navButton {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(62, 62, 62, 0.6);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(96, 96, 96, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    pointer-events: auto; // Возвращаем кликабельность кнопкам
    
    &:hover {
        background: rgba(186, 181, 181, 0.4);
        transform: scale(1.05);
    }
    
    &:active {
        transform: scale(0.95);
    }

    &.hidden {
        visibility: hidden;
        opacity: 0;
        cursor: default;
        pointer-events: none;
    }
}

.navButtonPrev {
    left: -15;
}

.navButtonNext {
    right: -15;
}

.videoCard {
    display: flex;
    gap: 12px;
    cursor: pointer;
    
    &:hover {
        .thumbnailImage {
            transform: scale(1.05);
        }
        
        .menuButton {
            opacity: 1;
        }
    }
}

.ellipsis {
    padding: 4px 6px;
    margin: -6px -4px;

    &:hover {
        background-color: var(--foregroundRGB);
        border-radius: 50px;
    }
}