.input__container {
    position: relative;
    display: flex;
    
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    outline: none;

    border: 1px solid var(--grayBorder);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;

    &:focus-within {
        border: 1px solid var(--blueBorder);
    }
}

.input {
    border: none;
    color:  var(--blackText);
    background-color: var(--background);
    width: 100%;
    height: 100%;
    margin-left: 10px;

    &:focus {
        border: none;
        outline: none;
    }
}

.addonLeft {
    padding-right: 5px;
}

.addonRight {
    // margin-right: 5px;
    cursor: pointer;
}

.cross {
    margin-top: 1px;
    padding: 5px 6px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
    
    &:hover {
        background-color: var(--grayDarkBackground);
        // transform: scale(1.1); // опционально - легкое увеличение без сдвига
    }
}

.facadeWord {
    cursor: pointer;
}
