.mainPage {
    margin: auto;
    width: 1000px;

    &_body {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        align-items: start;
        width: 720px;

        &_videos {
            width: inherit;
            
        }

        &_settings {
            // width: fit-content;
            position: sticky;
            top: 10px;
            margin-top: 100px;
        }
    }
}