.grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: var(--header-height) 1fr;
  transition: grid-template-columns 0.3s ease;
  
  &SidebarOpen {
    grid-template-columns: var(--sidebar-width-open) 1fr;
    grid-template-areas: 
      "header header"
      "sidebar page";
  }
  
  &SidebarClosed {
    grid-template-columns: var(--sidebar-width-closed) 1fr;
    grid-template-areas: 
      "header header"
      "sidebar page";

    @media (width < 1025px) {
      grid-template-columns: var(--sidebar-mobile-width-closed) 1fr;
    }
  }


}

.sidebarWrapper {
  grid-area: sidebar;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  align-content: start;
  background-color: var(--background);

  // &::-webkit-scrollbar {
  //     width: 6px; /* ширина скроллбара */
  //     background: transparent; /* прозрачный фон */
  // }

  // &::-webkit-scrollbar-thumb {
  //     background: #888;
  //     border-radius: 4px;
  // }
}

.headerWrapper {
  grid-area: header;
  // position: sticky;
  height: 50px;
  top: 0;
  z-index: 10;
  background-color: var(--background);
}

.pageWrapper {
  grid-area: page;
  height: 100%;
  // overflow-y: scroll;
  background-color: var(--background);
  padding-top: 5px;

  &_opened {
    grid-area: page;
    height: 100%;
    // overflow-y: scroll;
    background-color: var(--background);
    padding: 5 0 0 5;
  }
}

.sidebarOverlay {

  @media (width < 1025px) {
    position: absolute;
    pointer-events: none;
    z-index: 98;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
  }
}