.videoGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  row-gap: 36px;
  margin-top: 20px;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }

  // @media (min-width: 2000px) {
  //     grid-template-columns: repeat(4, 1fr);
  // }
}

.videoCardWrapper {
  // box-sizing: border-box;
  width: 100%;
  border-radius: 28px;
}

.videoGridHorts {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));

  @media (max-width: 1280px) {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}