@use '../../../mixins.scss' as *;

.page {
    @include scrollPage;
    max-width: 1920px;
    margin: auto;
}

.mainPage {
    &__container {
        background-color: var(--grayBackground);
        color: var(--mainText)
    }
}