.settingsButton {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.customPopover {
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    background-color: var(--grayDarkBackground);

    &_item {
        background: none;
        border: none;
        border-radius: 8px;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &:hover {
            background-color: var(--lightGray);
        }
    }
}

.optionsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}