.btn {
    background: none;
    border: none;
    cursor: pointer;
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--grayDarkBackground);
    color: var(--blackText);
    outline: none;
    line-height: 24px;
    width: 100%;

    &::placeholder {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
    }
}

.headerAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}